<table>
	<caption>Recent Transactions</caption>
	<thead>
		<tr>
			<th scope="column">Initiator</th>
			<th scope="column">Messages</th>
		</tr>
	</thead>
	<tbody>
	{% for t in transactions %}
		<tr>
			{% if t.monitor %}<td class="monitor"><a href="/inventory/monitor/{{ t.monitor.pk }}/">{{ t.monitor }}</a>{% else %}{% if t.phone %}<td class="phone">{{ t.phone }}{% else %}<td class="monitor dull">Unknown{% endif %}{% endif %}</td>
			<td>
				<table class="messages">
					{% for m in t.message_set.all %}
					<tr><td class="{% if m.is_outgoing %}out{% else %}in{% endif %}">
						{% if m.monitor %}<span class="to" title="Number: {{ m.monitor.phone }}">To: {{ m.monitor }}</span>{% else %}
						{% if m.phone %}{% ifnotequal t.phone m.phone %}<span class="to">To: {{ m.phone }}</span>{% endifnotequal %}{% endif %}{% endif %}
						{{ m.message }}
					</td></tr>
					{% endfor %}
				</table>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

