{% extends "admin/base_site.html" %}
{% load i18n %}

{% block stylesheet %}/assets/css/dashboard.css{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

<div class="module events">
	<table>
		<caption>Current Events</caption>
		<thead>
			<tr>
				<th scope="column">Area</th>
				<th scope="column">OTP</th>
				<th scope="column">Ben.</th>
				<th scope="column">Qty.</th>
				<th scope="column">Con.</th>
				<th scope="column">Bal.</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Adaba</td>
				<th scope="row">Garadillo</td>
				<td>7</td>
				<td>20</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Adaba</td>
				<th scope="row">Washa</td>
				<td>5</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Adaba</td>
				<th scope="row">Abamo</td>
				<td>10</td>
				<td>22</td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>

{% if app_list %}
    {% for app in app_list %}
        <div class="module models">
        <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
        <caption><a href="{{ app.app_url }}" class="section">{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</a></caption>
        <tbody>
        {% for model in app.models %}
            <tr>
            {% if model.perms.change %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.perms.add %}
                <td><a href="{{ model.admin_url }}add/" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.perms.change %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

