/* Global Admin Stylesheet
 * vim:set noet:
 * --
 * This overrides a lot of the Django admin
 * styles, to make it look more like a UNICEF app */

body {
	background: #eef;
}

#container {
	width: 80em;
	margin: 0 auto;
	background: #fff;
}

	/* no scaling for ie6 */
	* html #container {
		width: 960px; }

/* steal header bg from unicef.org */
#header {
	background: url("../png/header-bg.png") repeat-x;
	padding-top: 23px;
	padding-bottom: 33px;
	position: relative;
	color: #ccf;
}
	
	/* align in the middle of the
	 * unicef blue stripe of header bg,
	 * and display logo on the right */
	#branding h1 {
		background: url("../png/unicef.png") no-repeat 100% 50%;
		line-height: 65px;
		color: #fff;
		margin: 0;
	}
	
		/* ie6 can't seem to
		 * figure this out */
		* html #branding h1 {
			width: 940px;
		}
	
		/* hide text title on login box;
		 * it's too long (blows up form) */
		body.login #branding h1 {
			text-indent: -9999px; }
		
		#branding h1 a {
			height: 65px;
			display: block;
			text-indent: -9999px;
			background: url("../png/rapidsms.png") no-repeat 0 50%;
		}

	/* align with dark stripe
	 * of header bg */	
	#user-tools {
		padding: 0;
		top: 89px;
		right: 10px;
		line-height: 33px;
	}
	
	#period {
		position: absolute;
		line-height: 23px;
		font-size: 11px;
		right: 5px;
		top: 0;
	}
	
		#period span {
			color: #eef; }


#content {
	margin: 15px;
	margin-bottom: 0;
}

	#content h1 {
		color: #0091C7;
		margin-bottom: 15px;
	}

	#content .module {
		border: none;
		margin-bottom: 15px;
	}

	#content .module h2,
	#content .module caption,
	#content .inline-group h2 {
		background: #74d7e3 url("../png/h2.png") repeat-x;
	}

	/* add space between
	 * data and paginator */
	#content p.paginator {
		border-top: none;
		margin-top: 15px;
	}


.map-info { }

	.map-info h2 {
		margin: 0 0 10px 0;
		text-align: center;
	}

	.map-info table {
		width: 100%; }

		.map-info caption {
			padding: 4px;
			background: #eee;
			margin-bottom: 10px;
		}
		
		.map-info td {
			width: 1%; }

	.map-info div.datetime {
		text-align: center;
		margin-top: 10px;
		font-size: 80%;
		color: #aaa;
	}

/* the footer doesn't seem to be in
 * use, so hide it for the time being */
#footer {
	display: none; }

